/* #region Common */
:root {
    --bz-background-light: #d8dbd6;
    --bz-background-dark: #3e9287;
    --bz-header-bg: #eaeaea;
    --bz-active-chat: #e9ebeb;
    --bz-header-icons: #b1b1b1;
    --bz-enable-alert: #9cdaf8;
    --bz-input-icons: #6c7375;
    --bz-light: #fff;
    --bz-sent-mex: #dcf5bf;
}

body {
    background: linear-gradient(180deg, rgba(62,146,135) 20%, rgba(216,219,214) 20%);
    overflow: hidden;
}
/* #endregion Common */
/* #region Utilities */
#app_container {
    max-width: 1000px;
    height: calc(100vh - 3rem);
    margin: 1.5rem auto;
    box-shadow: 10px 10px 10px var(--bz-input-icons);
}

.sidebar_header,
.chat_header,
.chat_input {
    height: 60px;
    background-color: var(--bz-header-bg);
    padding: 0 0.5rem;
}

.my_avatar > img,
.contact_avatar {
    border-radius: 50%;
    height: 45px;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
}

.my_name,
.contact_info > .contact_name,
.add_contact_span,
span.receive {
    font-size: 0.9rem;
}

[class$="_settings"] > i,
.delete_chat_dropdown > i {
    color: var(--bz-header-icons);
    font-size: 1.2rem;
    padding: 0 0.5rem;
}
/* #endregion Utilities */
/* #region Sidebar */
#app_side_bar {
    width: 40%;
}

.enable_alert {
    background-color: var(--bz-enable-alert);
    height: 65px;
}

.enable_alert i {
    color: var(--bz-enable-alert);
    background-color: var(--bz-light);
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.enable a {
    text-decoration: underline;
    color: var(--bz-input-icons);
}

.search_input {
    background-color: #fafafa;
    height: 38px;
    padding: 0.3rem;
}

.input-group-text,
.input-group input,
.last_message_text,
.last_message_time {
    font-size: 0.7rem;
}

.preview {
    height: calc(100% - 163px);
    overflow-y: auto;
    background-color: var(--bz-light);
}

.chat_preview,
.add_contact {
    height: 60px;
    background-color: var(--bz-light);
    border-top: 1px solid var(--bz-active-chat);
}

.add_contact i {
    color: var(--bz-light);
    background-color: var(--bs-primary);
    padding: 0.3rem;
    font-size: 1.2rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin: 0 1rem 0 0.3rem;
}

.chat_preview [class*="last_message_"] {
    color: var(--bz-input-icons);
}

.chat_preview.active {
    background-color: var(--bz-active-chat);
}

.modal-body > label,
.modal-body input {
    font-size: 0.8rem
}
/* #endregion Sidebar */
/* #region Chat */
#app_chat {
    width: 60%;
}

.chat_container,
.welcome_message {
    height: 100%;
}

.welcome_message {
    background-color: rgba(127, 255, 212, 0.803);
    padding: 4rem 0 4rem 4rem;
}

.welcome_message img{
    width: 100%;
}

.active_contact .contact_status,
span.enable {
    font-size: 0.7rem;
}

.chat_body {
    height: calc(100% - 120px);
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
    overflow-x: hidden;
}

.chat_body .message {
    font-size: 0.7rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    max-width: 60%;
}

.span_message {
    width: 90%;
    overflow-wrap: break-word;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.dropdown_delete {
    width: 13px;
    height: 13px;
}

.sent .dropdown_menu,
.delete_chat_dropdown ul {
    top: 100%;
    right: 0;
    text-align: end;
    background-color: var(--bz-light);
    border-radius: 0.2rem;
    box-shadow: 0px 2px 2px rgba(171, 171, 171, 0.742);
    z-index: 10000;
}

.received .dropdown_menu {
    top: 100%;
    left: 0;
    background-color: var(--bz-light);
    border-radius: 0.2rem;
    box-shadow: 0px 2px 2px rgba(171, 171, 171, 0.742);
    z-index: 10000;
}

.dropdown_menu li,
.delete_chat_dropdown li {
    width: 100px;
    padding: 0.4rem;
    font-size: 0.7rem;
    cursor: pointer;
}

.dropdown-icon,
.span_date {
    font-size: 0.5rem;
}

.chat_body > .sent {
    background-color: var(--bz-sent-mex);
    align-self: flex-end;
}

.chat_body > .received {
    background-color: var(--bz-light);
    align-self: flex-start;
} 

.chat_input i {
    padding: 0 1rem;
    color: var(--bz-input-icons);
}
/* #endregion Chat */